.select-wrapper {
	position: relative;
	display: inline-block;
}

.select-font {
	font-family: inherit;
	-webkit-appearance: none;
	appearance: none;
	/* background-color: white; */
	background-color: transparent;
	padding: 8px;
	border: none;
	padding-right: 30px; /* Adjusted padding-right to avoid overlapping text */
	font-size: 18px;
	font-weight: bold;
	outline: none; /* Optional: remove focus outline */
	width: 100%;
}

.select-font:active {
	background-color: #eee;
	border: 5px solid blue;
}

.select-arrow {
	content: '';
	background: url('../../../assets//images/icon-arrow-down.svg');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	right: 10px;
	width: 20px;
	height: 100%;
	pointer-events: none;
}

/* dark theme */

.dark .select-font {
	color: #fff;
}

/* .font-dropdown {
	position: absolute;
	top: 30px;
	padding: 1rem 1.5rem;
	border-radius: 10px;
}
.font-dropdown__item {
	color: #000;
	cursor: pointer;
	width: 100%;
	overflow: hidden;
	font-size: 2rem;
	z-index: 1000000;
} */

/* MOBILE PHONE */
@media (max-width: 470px) {
	.select-font {
		font-size: 14px;
	}
}
